<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riskiabiyan.pml_kelompok3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Preview.Preview"
            android:parentActivityName=".PesanTiket.PesanActivity"
            ></activity>
        <activity android:name=".Dashboard.Dashboard" />
        <activity
            android:name=".Rute.RuteActivity"
            android:parentActivityName=".Dashboard.Dashboard" />
        <activity
            android:name=".RiwayatTransaksi.RiwayatTransaksi"
            android:parentActivityName=".Dashboard.Dashboard" />
        <activity
            android:name=".Bayar.BayarActivity"
            android:parentActivityName=".MetodeBayar.MetodeBayar" />
        <activity
            android:name=".MetodeBayar.MetodeBayar"
            android:parentActivityName=".DetailTicket.DetailActivity" />
        <activity
            android:name=".ProfilUser.ProfilUser"
            android:parentActivityName=".Dashboard.Dashboard" />
        <activity
            android:name=".EditUser.EditProfilActivity"
            android:parentActivityName=".ProfilUser.ProfilUser" />
        <activity
            android:name=".DetailTicket.DetailActivity"
            android:parentActivityName=".RiwayatTransaksi.RiwayatTransaksi" />
        <activity
            android:name=".PesanTiket.PesanActivity"
            android:parentActivityName=".Dashboard.Dashboard" />
        <activity
            android:name=".Register.RegisterActivity"
            android:parentActivityName=".Landing.LandingActivity" />
        <activity
            android:name=".Login.LoginActivity"
            android:parentActivityName=".Landing.LandingActivity" />
        <activity android:name=".Landing.LandingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>